{% extends 'base.html' %}
    {% block title %}
        Auction
    {% endblock %}

    {% block nav_auction %}
        active
    {% endblock %}

    {% block content %}
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <br>
                <h2>Available items</h2>
                <br>
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    {% if item.owners != session['username'] and item.time_left != "Expired" and item.time_left != "" %}
                    {% include 'includes/items_modals.html' %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.item }}</td>
                        <td>{{ item.owners }}</td>
                        <td>{{ item.price }}$</td>
                        <td>
                            <button class="btn btn-outline btn-info" data-toggle="modal"
                                    data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                            <button class="btn btn-outline btn-success" data-toggle="modal"
                                    data-target="#Modal-Bid-On-Item-{{ item.id }}">Bid!</button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
        </div>
    {% endblock %}